.header {
    display: flex;
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #646174;
    background-color: #7180AC;
    border-radius: 5px;
}

.nav li {
    display: inline;
    float: left;
    padding: 0 10px;
    border-right: 2px #2B4570 solid;
}

.nav a {
    text-transform: uppercase;
    display: block;
    color: #2B4570;
    font-size: .99em;
    align-items: center;
    text-decoration: none;
    padding: 15px 10px;

}

.nav a:hover {
    background-color: #2B4570;
    color: #e1dbdc;
}

.nav li:last-child {
    border-right: none;
}

.dropdown{
    display: inline;
    position: absolute;
    right: 130px;
    top: 85px;
}
.dropdown div{
    padding: 5px 5px;
    position: absolute;
    background-color: #c5cdea;
    border-radius: 5px;
    display: none;
}

#logo {
    position: absolute;
    right: 4%;
    top: 4%;
}

.content{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.left-box {
    background-color: #7180AC;
    border: 1px solid #646174;
    border-radius: 5px;
    width: 10%;
    min-height: 100%;
    margin-bottom: 5px;
    margin-right: 10px;
}

.right-box {
    background-color: #7180AC;
    border: 1px solid #646174;
    border-radius: 5px;
    width: 10%;
    min-height: 100%;
    margin-bottom: 5px;
    margin-left: 10px; 
}

.middle-box{
    display: flex;
    width: 100%;
    min-height: 100%;
    margin-bottom: 5px;
    margin-left: 10px; 
    flex-direction: column;
    align-items: center;
}

.image-box{
    background-color: lightgray;
    border: 1px solid #646174;
    border-radius: 5px;
    width: 75%; 
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.comment-box-image{
    text-align: left;
    margin-top: 5px;
}

.comment-box-text{
    margin-top: 40px;
    text-align: left;
}

.centered-image{
    padding-top: 40px;
    width: 100%;
    max-height: 80%;
    object-fit: cover;
}

.image-top-left{
    position: absolute;
    height: 30px;
    width: 30px;
    top:0;
    left:0;
    padding: 5px 10px;
}

.image-bottom-left{
    padding-top: 10px;
    height: 30px;
    width: 30px;
}

.date{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 10px;
}

.text-box{
    background-color: lightgray;
    border: 1px solid #646174;
    border-radius: 5px;
    width: 75%;
    margin: 5px;
    padding: 10px;
    border: 1px solid #646174;
    margin: 5px;
    border-radius: 5px;
    position:relative;
}

footer {
    background-color: #7180AC;
    border: 1px solid #646174;
    border-radius: 5px;
    margin-bottom: 1%;
    width: 100%;
    margin-top: 5px;
}

footer h1 {
    text-align: center;
}

@media (min-width: 800px) {

    .header,
    .nav {
        display: flex;
    }

    .header {
        flex-direction: column;
    }
}

@media (min-width: 1000px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
    }
}


/*Add post css*/
section form {
    margin: 3% 30%;
    padding: 10px 15px;
    background-color: #eadedc;
    text-align: center;
    border: 2px solid #e7c1b3;
    border-radius: 4px;
}

.newPostForm {
    padding: 50px 55px;
}

form>table {
    margin: auto;
    border-spacing: 2px 10px;
    text-align: left;
    display: flex;
}

td {
    display: inline-block;
    word-break: break-all;
}


textarea {
    width: 100%;
    height: 60px;
    padding: 12px 10px;
    box-sizing: border-box;
    border: 2px solid #e7c1b3;
    border-radius: 4px;
    background-color: #f1efee;
    resize: none;
}

table ~ button {
    background-color: #E49273;
    margin: 30px;
    border: none;
    padding: 10px 52px;
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid #df8666;
    color: #dd4c17;
}


table ~ button:hover {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.20), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    color: #e1dbdc;
}

@media (min-width: 1000px) {
    section form{
        flex-direction: row;
        justify-content: space-between;
    }
}


@media (max-width: 800px) {
    section form {
        margin: auto;
        flex-direction: column;
        display: flex;
    }
}

@media (max-width: 400px){
    textarea {
        width: 60%;
    }
    table ~ button {
        padding: 5px 15px;
        min-width: 80px;
    }
}