.header {
    padding-top: .5em;
    padding-bottom: .5em;
    border: 1px solid #646174;
    background-color: lightgray;
    border-radius: 5px;
}

.nav li{
    display: inline;
    margin-right: 20px;

.logo{
    position: absolute;
    right: 4%;
}

.footer {
    position: fixed;
    bottom: 0;
    padding-top: .5em;
    padding-bottom: .5em;
    background-color: lightgray;
    border: 1px solid #646174;
    border-radius: 5px;
    width: 98.9%;
}

.footer h1{
    text-align: center;
}
